@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,800&display=swap");
/* line 1, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_extend.scss */
.boxed-btn3, .boxed-btn3-text:hover, .footer .footer_top .footer_widget .newsletter_form button, .footer .socail_links ul li a:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff008c+0,ff6357+100 */
  background: #ff008c;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ff008c 0%, #ff6357 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff008c 0%, #ff6357 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff008c 0%, #ff6357 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff008c', endColorstr='#ff6357',GradientType=1 );
  /* IE6-9 */
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* line 5, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 16, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 20, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 25, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
a:focus {
  text-decoration: none;
}

/* line 28, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

/* line 34, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
a,
button {
  color: #1F1F1F;
  outline: medium none;
}

/* line 39, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #001D38;
}

/* line 43, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 52, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 56, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
li {
  list-style: none;
}

/* line 59, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
p {
  color: #727272;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 26px;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

/* line 69, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 75, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 80, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 85, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 90, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 95, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 100, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 105, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 111, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
h3 {
  font-size: 24px;
}

/* line 115, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.mb-65 {
  margin-bottom: 67px;
}

/* line 119, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.black-bg {
  background: #020c26 !important;
}

/* line 123, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.white-bg {
  background: #ffffff;
}

/* line 126, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.gray-bg {
  background: #f5f5f5;
}

/* line 131, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

/* line 134, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

/* line 137, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

/* line 142, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 146, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

/* line 158, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 162, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2C2C2C;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

/* line 174, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.overlay_03 {
  position: relative;
  z-index: 0;
}

/* line 178, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
}

/* line 191, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.bradcam_overlay {
  position: relative;
  z-index: 0;
}

/* line 195, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

/* line 211, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 215, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.pt-120 {
  padding-top: 120px;
}

/* button style */
/* line 221, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #918DFE;
  left: 150px;
  color: #FFFFFF;
}

/* line 249, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
}

/* line 254, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}

/* line 261, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}

/* line 271, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 274, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: #615CFD;
  background: #fff;
  border: 1px solid transparent;
}

/* line 284, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.mb-20px {
  margin-bottom: 20px;
}

/* line 288, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.mb-55 {
  margin-bottom: 55px;
}

/* line 291, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.mb-40 {
  margin-bottom: 40px;
}

/* line 294, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 297, ../../Arafath/CL/CL October/219. SEO/HTML/scss/theme-default.scss */
.mb-95 {
  margin-bottom: 95px;
}


/* line 1, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #FF008C;
  letter-spacing: 3px;
  text-align: center;
  color: #FF008C !important;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 17, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn:hover {
  background: #FF008C;
  color: #fff !important;
  border: 1px solid #FF008C;
}

/* line 22, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn:focus {
  outline: none;
}

/* line 25, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn.large-width {
  width: 220px;
}

/* line 29, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 13px 41px;
  text-align: center;
  border: none;
  background-size: 100% 100%;
  border-radius: 50px;
  background-size: 101% 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  border: 1px solid transparent;
}

/* line 45, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3:hover {
  color: #fff;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 56, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3:focus {
  outline: none;
}

/* line 64, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 14px 38px;
  text-align: center;
  border: none;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  color: #FF008C;
}

/* line 77, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-text:hover {
  background-position: 100% 0;
  color: #fff;
}

/* line 82, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-text:focus {
  outline: none;
}

/* line 88, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn4 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #FF008C;
  color: #fff;
  display: inline-block;
  padding: 14px 27px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 107, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn4:hover {
  background: #FF008C;
  color: #fff !important;
}

/* line 112, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn4:focus {
  outline: none;
}

/* line 115, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn4.large-width {
  width: 220px;
}

/* line 120, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 137, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-white:hover {
  background: #28AE61;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 142, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-white i {
  margin-right: 2px;
}

/* line 145, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-white:focus {
  outline: none;
}

/* line 148, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-white.large-width {
  width: 220px;
}

/* line 153, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-green-2 {
  color: #FF008C !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #FF008C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 169, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-green-2:hover {
  background: #FF008C;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 174, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-green-2:focus {
  outline: none;
}

/* line 177, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn3-green-2.large-width {
  width: 220px;
}

/* line 181, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 193, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

/* line 197, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.boxed-btn2:focus {
  outline: none;
}

/* line 201, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* line 209, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

/* line 218, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.line-button:hover {
  color: #009DFF;
}

/* line 221, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.line-button:hover::before {
  background: #009DFF;
}

/* line 225, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.line_btn {
  display: inline-block;
  font-size: 15px;
  color: #FF008C;
  border: 1px solid #FF008C;
  text-transform: capitalize;
  padding: 13px 34px;
  font-weight: 600;
}

/* line 233, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_btn.scss */
.line_btn:hover {
  background: #FF008C;
  color: #fff;
}

/* line 2, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_section_title.scss */
.section_title h3 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #001D38;
  position: relative;
  z-index: 0;
  margin-bottom: 10px;
}



/* line 25, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_section_title.scss */
.section_title p {
  font-size: 15px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}


/* line 39, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_section_title.scss */
.section_title.white_text h3 {
  color: #fff;
}

/* line 42, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_section_title.scss */
.section_title.white_text span {
  color: #fff;
  padding-top: 0;
}

/* line 45, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_section_title.scss */
.section_title.white_text span:before {
  display: none;
}

/* line 49, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_section_title.scss */
.section_title.white_text p {
  color: #fff;
}

/* line 54, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_section_title.scss */
.mb-50 {
  margin-bottom: 50px;
}


/* line 13, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

/* line 28, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #ff008c;
}

/* line 32, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a.active {
  color: #ff008c;
}



/* line 44, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

/* line 55, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}


/* line 72, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slick-nav.scss */
.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

/* line 78, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -33px;
  right: 5px;
}

/* line 1, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  position: absolute;
}


/* line 16, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area {
  padding: 25px 132px;
  background: #fff;
  background: transparent;
}

@media (max-width: 767px) {
  /* line 16, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 0px;
    background: #fff;
    border-bottom: 1px solid #fafafa;
  }
}



/* line 38, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

/* line 58, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .logo-img {
  text-align: center;
}


/* line 84, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

/* line 88, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}


/* line 96, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a {
  background: transparent;
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #FF008C;
  color: #FF008C;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 105, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .Appointment .book_btn a:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #FF008C;
  color: #fff;
}



/* line 120, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

/* line 124, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

/* line 134, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a {
  color: #727272;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-transform: capitalize;
}



/* line 153, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}



/* line 174, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 179, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 184, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover {
  color: #FF008C;
}

/* line 188, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 200, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 202, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

/* line 208, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 212, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

/* line 217, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

/* line 222, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 226, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

/* line 232, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #fafafa;
}
/* line 262, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

/* line 265, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

/* line 268, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

/* line 274, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .header-top_area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}


/* line 281, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
}

/* line 285, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .header-top_area .social_media_links a:hover {
  color: #28AE60;
}

/* line 290, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list {
  text-align: right;
}


/* line 296, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}

/* line 298, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}



/* line 307, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header-area .header-top_area .short_contact_list ul li a i {
  color: #28AE60;
  margin-right: 7px;
}

/* line 317, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header_bottom_border {
  border-bottom: 1px solid #4B4E50;
  padding-bottom: 22px;
}

/* line 320, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_header.scss */
.header_bottom_border.white_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}


/* line 1, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.slider_bg_1 {
  background-image: url(../img/banner/banner.png);
}

/* line 4, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.slider_bg_2 {
  background-image: url(../img/banner/banner2.png);
}

/* line 7, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.poly_img {
  position: absolute;
  right: 15%;
  top: 36%;
}

/* line 13, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.slider_area .single_slider {
  position: relative;
  z-index: 0;
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  /* line 13, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 13, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: 620px;
  }
}

/* line 28, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.slider_area .single_slider .text {
  padding-top: 190px;
}

/* line 31, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.slider_area .single_slider .ilstrator_thumb {
  margin-top: 50px;
}

/* line 33, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.slider_area .single_slider .ilstrator_thumb img {
  width: 100%;
}

/* line 37, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
.slider_area .single_slider .phone_thumb {
  position: relative;
  top: 110px;
}


/* line 56, ../../Arafath/CL/CL October/219. SEO/HTML/scss/_slider.scss */
